html{
  background: linear-gradient( lightblue, lightgreen);
}

head {
  text-align: center;
  margin: 10px 10px 10px 10px;
}
h1 {
  font-style: oblique;
  color: rgb(186, 216, 19);
  background-color: #074D66;
  border-radius: 100px;
  border: solid black;
}
body {
 
 text-align: center;
 margin: 10px 10px 10px 10px;
}

.lorem {
  color: rgb(221, 78, 22);
  font-style: oblique;
  font-weight: bold;
}


.catpic {
  width: 300px;
  height: 300px;
  border-radius: 100px 0 100px 0;
  border: solid black;
}

footer {
  color: black;
  background-color: #074D66;
  font-weight: bold;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 100px;
  border: solid black;
}  